h1 {
    color: rgb(24, 29, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    width: 100px;
    height: 30px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.databucket1 {
    background-color: #2596be;
    border-radius: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}